.container{
    width: 1000px;
    padding: 25px;
    margin: 35px;
    background: #FFF;
    font-family: 'Roboto', sans-serif;
}

.container:after {
	content: "";
	display: table;
	clear: both;
}

.div-wrapper{
    float: left;
    width: 100%;
    margin-bottom: 35px;
}

.div-wrapper input{
    float: left;
    width: 98%;
    margin-bottom: 15px;
    padding: 5px;
}

.form-submit label, 
.short-field{
    float: left;
    width: 100% !important;
    margin-bottom: 5px;
    padding: 5px;
    font-size: 11pt;
    font-style: italic;
    font-weight: bold;
}

.row-half{
    float: left;
    width: 48%;
    margin-right: 10px;
}

.text-center{
    float: left;
    text-align: center !important;
}

.labeltitle{
    font-size: 12pt !important;
    font-family: 'Roboto', sans-serif !important;
    font-weight: bold !important;
}


.btsub{
    float: left !important;
    width: 200px !important;
    padding: 15px !important;
    margin-top: 15px;
}